extensions:
	nette.cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)

mango.tester:
	appContainer:
		configs:
			- %appDir%/config/config.neon
			- %appDir%/../tests/config/app.neon
			- %appDir%/config/config.local.neon

databaseCreatorDbal: %database%
